In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_html = requests.get(url).text
soup = BeautifulSoup(wiki_html, 'html.parser')

In [3]:
data = []
for tr in soup.tbody.find_all('tr'):
    data.append([ td.get_text().strip() for td in tr.find_all('td')])

In [4]:
df = pd.DataFrame(data, columns=['PostalCode','Borough','Neighborhood'])
df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [5]:
df = df.dropna()

In [6]:
empty = 'Not assigned'
df = df[(df.PostalCode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]
df.head()

  PostalCode           Borough                                 Neighborhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
df.shape

(103, 3)